rvl_alias "reveal_ist_112" "u1_core/u1_pcie/u2_pcie_ip/u1_ecp5/u1_gen1/u1_pcie/x_pcie_inst/u1_pcs_pipe/pcs_top_0/rxrefclk";
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK JTAGPATHS ;
BLOCK INTERCLOCKDOMAIN PATHS ;
BLOCK PATH FROM PORT "PERST_N" ;
BLOCK PATH FROM CELL "*ctc_reset_chx*" ;

BANK 0 VCCIO 3.3 V;
BANK 2 VCCIO 2.5 V;

USE PRIMARY NET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP3.U1_V6_X.U1_PCIE/pclk" ;
USE PRIMARY PURE NET "U1_CORE/s_u1_clk_125" ;

FREQUENCY NET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP3.U1_V6_X.U1_PCIE/u1_pcs_pipe/refclk" 100.000000 MHz PAR_ADJ 10.000000 ;
FREQUENCY NET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP3.U1_V6_X.U1_PCIE/pclk" 250.000000 MHz PAR_ADJ 25.000000 ;
FREQUENCY NET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP3.U1_V6_X.U1_PCIE/u1_pcs_pipe/ff_rx_fclk_0" 250.000000 MHz PAR_ADJ 25.000000 ;
FREQUENCY NET "U1_CORE/s_u1_clk_125" 125.000000 MHz PAR_ADJ 12.500000 ;

SYSCONFIG PERSISTENT=OFF CONFIG_MODE=SPI DONE_OD=ON DONE_EX=OFF MCCLK_FREQ=33 CONFIG_SECURE=OFF WAKE_UP=21 COMPRESS_CONFIG=OFF ENABLE_NDR=OFF CONFIG_IOVOLTAGE=3.3 STRTUP=EXTERNAL;

