#
# Logical Preferences generated for Lattice by Synplify map202103lat, Build 107R.
#

# Period Constraints 
#FREQUENCY NET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/s_u1_clk_125" 280.0 MHz;
#FREQUENCY NET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/PCLK" 280.0 MHz;
#FREQUENCY NET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_cref_inst/s_u1_refclk" 280.0 MHz;
#FREQUENCY NET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/pcs_top_0/tx_pclk" 280.0 MHz;
#FREQUENCY NET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/pcs_top_0/rx_pclk" 280.0 MHz;


# Output Constraints 

# Input Constraints 
#INPUT_SETUP "PERST_N" 3.6 NS CLKNET  = "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_cref_inst/s_u1_refclk";

# Point-to-point Delay Constraints 



# Block Path Constraints 
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/pcs_top_0/rx_pclk" TO CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/pcs_top_0/tx_pclk";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/pcs_top_0/rx_pclk" TO CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_cref_inst/s_u1_refclk";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/pcs_top_0/rx_pclk" TO CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/PCLK";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/pcs_top_0/rx_pclk" TO CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/s_u1_clk_125";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/pcs_top_0/tx_pclk" TO CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/pcs_top_0/rx_pclk";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/pcs_top_0/tx_pclk" TO CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_cref_inst/s_u1_refclk";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/pcs_top_0/tx_pclk" TO CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/PCLK";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/pcs_top_0/tx_pclk" TO CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/s_u1_clk_125";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_cref_inst/s_u1_refclk" TO CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/pcs_top_0/rx_pclk";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_cref_inst/s_u1_refclk" TO CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/pcs_top_0/tx_pclk";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_cref_inst/s_u1_refclk" TO CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/PCLK";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_cref_inst/s_u1_refclk" TO CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/s_u1_clk_125";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/PCLK" TO CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/pcs_top_0/rx_pclk";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/PCLK" TO CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/pcs_top_0/tx_pclk";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/PCLK" TO CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_cref_inst/s_u1_refclk";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/PCLK" TO CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/s_u1_clk_125";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/s_u1_clk_125" TO CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/pcs_top_0/rx_pclk";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/s_u1_clk_125" TO CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/pcs_top_0/tx_pclk";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/s_u1_clk_125" TO CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_cref_inst/s_u1_refclk";
#BLOCK PATH FROM CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/s_u1_clk_125" TO CLKNET "U1_CORE/U1_PCIE/U2_PCIE_IP/U1_ECP5.U1_GEN1.U1_PCIE/x_pcie_inst/u1_pcs_pipe/PCLK";

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
